html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

h1 {
  color: #3f1622;
}

nav ol {
list-style: none;
margin: 0 0 0 1.5em;
padding: 0;
font-family: 'PT Sans', sans-serif;
font-size: 1.25rem;
color: #8f2440;
line-height: 1.5rem;
background-color: #c9b5ab;
}

img {
width: 50%;
}
